* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.article {
  font-family: sans-serif;
  max-width: 450px;
  padding: 20px;
  margin: 0 auto;
  margin-top: 50px;
  background: rgb(244, 240, 240);
  opacity: 0.6;
}

.heading {
  font-size: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.wrapper-register {
  max-width: 80%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  line-height: 1.2;
}

.text-header {
  margin: 20px 0;
  text-align: center;
}

.heading::before,
.heading::after {
  content: '';
  flex-grow: 1;
  height: 1px;
  background-color: grey;
  /* border: 1px solid black; */
}

.heading::after {
  margin-left: 10px;
}

.heading::before {
  margin-right: 10px;
}

.main-form {
  display: flex;
  flex-direction: column;
}

.username {
  display: flex;
  justify-content: space-between;
}

.div-input {
  width: 45%;
}

.input,
.btn {
  margin: 10px 0;
  padding: 10px; 
}

.btn {
  background-color: green;
  color: white;
  font-weight: bold;
  overflow: hidden;
  white-space: nowrap;
  border: none;
  text-overflow: ellipsis;
  border-radius: 4px;
}

.conteiner-checbox {
  display: flex;
  align-items: center;
}

.wrapper-text-checkbox {
  margin-left: 5px;
}

.link {
  text-decoration: none;
  color: rgb(50, 150, 68);
}
